/* 
.item-thumb {
    position: relative; }
    .item-thumb .overlay {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      top: 0;
      left: 0;
      z-index: 4;
      transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s; }
    .item-thumb:hover .overlay {
      opacity: 1; }
  

      
.featured-course-sidebar .featured-course-content .row {
    margin-right: -10px;
    margin-left: -10px; }
  .featured-course-sidebar .featured-course-content .item {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    .featured-course-sidebar .featured-course-content .item .info {
      padding: 23px 30px 24px 30px; }
      .featured-course-sidebar .featured-course-content .item .info .teacher {
        font-size: 15px; }
      .featured-course-sidebar .featured-course-content .item .info .title {
        font-size: 18px;
        padding: 10px 0px 28px 0px; }
      .featured-course-sidebar .featured-course-content .item .info .desc {
        font-size: 14px; }
        .featured-course-sidebar .featured-course-content .item .info .desc i {
          font-size: 18px; }
  .featured-course-sidebar .result-count {
    margin-bottom: 60px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e5e5e5; }
    .featured-course-sidebar .result-count .woocommerce-result-count {
      font-size: 15px; }
  

      
.featured {
    padding-top: 50px; }
  
  .featured-content .featured-item:nth-child(2) .item {
    background: #b45b3e;
    padding: 40px 35px; }
  .featured-content .item {
    background: #ffa037;
    padding: 40px 45px; }
    .featured-content .item .item-thumb {
      position: relative;
      padding-right: 70px;
      overflow: hidden; }
      .featured-content .item .item-thumb img {
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s; }
      .featured-content .item .item-thumb:hover img {
        opacity: 0.8;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1); }
      .featured-content .item .item-thumb a {
        width: 93px;
        height: 93px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        background: #fff; }
        .featured-content .item .item-thumb a img {
          margin-top: -12px;
          margin-right: -3px; }
    .featured-content .item .info .title {
      line-height: 1.28;
      padding-bottom: 11px; }
      .featured-content .item .info .title a {
        color: #fff; }
    .featured-content .item .info .readmore {
      color: #fff; }
      .featured-content .item .info .readmore:hover i:before {
        content: "\f112"; }
      .featured-content .item .info .readmore:hover:after, .featured-content .item .info .readmore:hover:before {
        opacity: 0; }
  
  .featured-course-content {
    margin-bottom: -30px;
    position: relative; }
    .featured-course-content .viewall-btn {
      position: absolute;
      top: -100px;
      right: 0; }
      .featured-course-content .viewall-btn .view-all {
        padding: 7px 38px;
        position: relative; }
    .featured-course-content .item {
      margin-bottom: 30px; }
      .featured-course-content .item .item-thumb {
        position: relative; }
        .featured-course-content .item .item-thumb a {
          overflow: hidden; }
          .featured-course-content .item .item-thumb a img {
            transition: all 0.8s ease 0s;
            -moz-transition: all 0.8s ease 0s;
            -webkit-transition: all 0.8s ease 0s;
            -o-transition: all 0.8s ease 0s;
            -ms-transition: all 0.8s ease 0s; }
            .featured-course-content .item .item-thumb a img:hover {
              transform: scale(1.2, 1.2);
              -moz-transform: scale(1.2, 1.2);
              -webkit-transform: scale(1.2, 1.2);
              -o-transform: scale(1.2, 1.2);
              -ms-transform: scale(1.2, 1.2); }
        .featured-course-content .item .item-thumb .price {
          position: absolute;
          right: 15px;
          top: 15px;
          color: #fff;
          font-size: 15px;
          font-family: 'Roboto Slab';
          font-weight: bold; }
        .featured-course-content .item .item-thumb .free {
          background: #00ad5f;
          padding: 3px 24px; }
        .featured-course-content .item .item-thumb .notfree {
          background: #ff5f3d;
          padding: 3px 18px; }
        .featured-course-content .item .item-thumb .feadtured-course-small {
          position: absolute;
          left: 50%;
          bottom: -10px;
          transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          width: 65px;
          height: 65px;
          border: 3px solid #fff;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          z-index: 10; }
          .featured-course-content .item .item-thumb .feadtured-course-small img {
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            -o-border-radius: 50%;
            -ms-border-radius: 50%; }
        .featured-course-content .item .item-thumb .vote {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          z-index: 10;
          padding: 11px 0;
          background: #ffa037;
          opacity: 0;
          transition: opacity 1s;
          -moz-transition: opacity 1s;
          -webkit-transition: opacity 1s;
          -o-transition: opacity 1s;
          -ms-transition: opacity 1s; }
          .featured-course-content .item .item-thumb .vote a {
            color: #fff;
            padding: 11px 16px; }
            .featured-course-content .item .item-thumb .vote a:last-child {
              position: relative; }
              .featured-course-content .item .item-thumb .vote a:last-child:after {
                position: absolute;
                content: "";
                height: 35px;
                width: 1px;
                background: #fff;
                opacity: 0.3;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -ms-transform: translateY(-50%); }
            .featured-course-content .item .item-thumb .vote a .fa-search {
              font-size: 16px; }
            .featured-course-content .item .item-thumb .vote a .fa-heart {
              font-size: 15px; }
        .featured-course-content .item .item-thumb:hover .vote {
          opacity: 1; }
      .featured-course-content .item .info {
        text-align: center;
        padding: 28px 30px 24px 30px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5; }
        .featured-course-content .item .info .teacher {
          font-size: 16px;
          color: #666; }
        .featured-course-content .item .info .title {
          font-size: 20px;
          padding: 10px 40px 32px 40px;
          line-height: 1.6; }
        .featured-course-content .item .info .desc {
          border-top: 1px solid #e5e5e5;
          padding-top: 16px;
          font-size: 15px;
          font-weight: 500; }
          .featured-course-content .item .info .desc i {
            font-size: 20px; }
          .featured-course-content .item .info .desc a {
            margin-right: 15px;
            color: #333; }
            .featured-course-content .item .info .desc a:last-child {
              margin-right: 0px; }
            .featured-course-content .item .info .desc a .la {
              padding-right: 8px; }


   
.video-tour-content {
    background: transparent url("../assets/bg-video-tour.jpg") no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding: 95px 0;
    cursor: pointer;
    position: relative; }
    .video-tour-content:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9; }
    .video-tour-content .video {
      text-align: center;
      position: relative;
      z-index: 99; }
      .video-tour-content .video .video-title {
        padding-bottom: 25px;
        font-size: 48px;
        color: #fff; }
        .video-tour-content .video .video-title span {
          color: #ffa037;
          display: block;
          text-align: center; }
      .video-tour-content .video span {
        margin: 0 auto; }
             

        
#modal-video-01 {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1250; }
    #modal-video-01 .modal-dialog {
      max-width: 50%;
      height: 100%;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      flex-wrap: wrap;
      position: relative;
      margin: 30px auto; }
      #modal-video-01 .modal-dialog iframe {
        width: 100%;
        height: 100%; }
   */

/* 14. Course Page ------------------------------------------*/
.featured-course-sidebar .featured-course-content .row {
  margin-right: -10px;
  margin-left: -10px;
}
.featured-course-sidebar .featured-course-content .item {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.featured-course-sidebar .featured-course-content .item .info {
  padding: 23px 30px 24px 30px;
}
.featured-course-sidebar .featured-course-content .item .info .teacher {
  font-size: 15px;
}
.featured-course-sidebar .featured-course-content .item .info .title {
  font-size: 18px;
  padding: 10px 0px 28px 0px;
}
.featured-course-sidebar .featured-course-content .item .info .desc {
  font-size: 14px;
}
.featured-course-sidebar .featured-course-content .item .info .desc i {
  font-size: 18px;
}
.featured-course-sidebar .result-count {
  margin-bottom: 60px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;
}
.featured-course-sidebar .result-count .woocommerce-result-count {
  font-size: 15px;
}

.widget_search form {
  position: relative;
}
.widget_search form label {
  display: block;
}
.widget_search form input[type="search"] {
  width: 100%;
  border: none;
  padding: 9px 20px;
  font-size: 13px;
  width: 190px;
}
.widget_search form input[type="search"]::-webkit-input-placeholder {
  color: #666;
}
.widget_search form input[type="search"]::-moz-placeholder {
  color: #666;
}
.widget_search form input[type="search"]:-ms-input-placeholder {
  color: #666;
}
.widget_search form input[type="search"]:-moz-placeholder {
  color: #666;
}
.widget_search form:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #999;
  font-size: 15px;
}

.item-thumb {
  position: relative;
}
.item-thumb .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 4;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
.item-thumb:hover .overlay {
  opacity: 1;
}
