.header-top {
  background: #1388d1;
  padding: 15px 0;
}

.header-top-content .header-top-info .fas,
.header-top-content .header-top-info .far {
  padding-right: 10px;
  font-size: 16px;
}
.header-top-content .header-top-info a {
  font-size: 14px;
  margin-right: 30px;
}
.header-top-content .header-top-info a:last-child {
  margin-right: 0px;
}
.header-top-content .header-top-account {
  font-size: 15px;
}
.header-top-content .header-top-account .fas {
  padding-right: 6px;
}
.header-top-content .header-top-account a {
  margin-right: 25px;
}
.header-top-content .header-top-account a:last-child {
  margin-right: 0px;
}
.header-top-content .header-top-account .login {
  position: relative;
}
.header-top-content .header-top-account .login:after {
  position: absolute;
  content: "/";
  top: 0;
  right: -15px;
}
.header-top-content a {
  color: #fff;
}

.menu ul {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.menu ul li {
  position: relative;
  padding: 43px 17px;
}
.menu ul li a {
  font-size: 18px;
  font-family: "Roboto Slab" !important;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
  color: #333;
}
.menu ul li a:after {
  content: "";
  background: #ffa037;
  width: 100%;
  max-width: 0px;
  height: 2px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  transition: max-width 0.5s ease 0s;
  -moz-transition: max-width 0.5s ease 0s;
  -webkit-transition: max-width 0.5s ease 0s;
  -o-transition: max-width 0.5s ease 0s;
  -ms-transition: max-width 0.5s ease 0s;
}
.menu ul li a:hover {
  color: #333;
}
.menu ul li a:hover:after {
  max-width: 100%;
}
.menu ul li:last-child {
  padding-right: 0px;
}
.menu ul li:last-child a {
  padding-right: 0px;
}
.menu ul li .sub-menu {
  position: absolute;
  z-index: 1000;
  float: left;
  background-color: #fff;
  -webkit-transition: top 0.3s ease 0s, opacity 0.3s;
  transition: top 0.3s ease 0s, opacity 0.3s;
  transform: scaleX(0);
  -moz-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  opacity: 0;
  top: 115%;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  margin: 0;
  display: block;
  left: 0;
  padding: 0;
  min-width: 200px;
  white-space: nowrap;
}
.menu ul li .sub-menu li {
  padding: 5px 20px;
}
.menu ul li .sub-menu li a {
  padding: 5px 0px;
  display: block;
}
.menu ul li .sub-menu li:hover {
  background: #ffa037;
}
.menu ul li .sub-menu li:hover a {
  color: #fff;
}
.menu ul li .sub-menu li:hover a:after {
  max-width: 0px;
}
.menu ul li .sub-menu li .sub-menu {
  left: 100%;
  top: 0px;
}
.menu ul li .sub-menu li .sub-menu li a {
  color: #333;
}
.menu ul li .sub-menu li .sub-menu li:hover a {
  color: #fff;
}
.menu ul li:hover > ul {
  opacity: 1;
  top: 100%;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.menu ul .curent-menu-item a:after {
  content: "";
  background: #ffa037;
  width: 100%;
  max-width: 100%;
  height: 2px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  transition: width 0.5s ease 0s;
  -moz-transition: width 0.5s ease 0s;
  -webkit-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  -ms-transition: width 0.5s ease 0s;
}
.menu ul .curent-menu-item .sub-menu li a:after {
  max-width: 0;
}

.search-box {
  padding-left: 30px;
  position: relative;
}
.search-box form {
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  position: relative;
}
.search-box form input {
  position: absolute;
  top: 100%;
  z-index: 100000;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  padding: 10px 35px 10px 20px;
  color: #666;
  border: 1px solid #e5e5e5;
  width: 270px;
}
.search-box form .search-icon {
  font-size: 16px;
  color: #333;
  height: 115px;
}
.display-flex {
  display: flex;
  display: -webkit-flex;
}

.display-flex,
.display-flex,
.display-flex-center,
.socials ul li a .fab,
.footer-top-content .lastest-news-list .item,
.footer-top-content .footer-contact ul li,
.menu ul,
.aboutus-testimonials2-content .item figure,
.contact-info-content .item,
.contact-us-three-info .item,
.events-fqa-content,
.fqa-content ul li .card-header .title:before,
.wrap-scroll-slider1 .scroll-slider1,
.single-course-content .socials,
.single-course-tab .course-mission ul li,
.single-course-tab .course-outcome ul li,
.course-tab-title,
.curriculum-content .card .card-header,
.curriculum-content .card .card-body ul li a,
.curriculum-content .card .card-body ul li .lesson-time,
.instructor-content,
.review-content,
.review-content .average-rating .rating-star .star-rate i,
.single-events-content .events-info ul,
.single-events-content .event-detail .event-content ul li,
.single-content .tags-socials .socials,
.single-content .comments .media .media-body .info {
  display: flex;
  display: -webkit-flex;
}

.list-type-ulli,
.socials ul,
.pagination ul,
.footer-top-content .footer-link-menu ul,
.footer-top-content .footer-contact ul,
.menu ul,
.widget_product_categories ul,
.widget_categories ul,
.widget_tags ul,
.widget_lastest_entries ul,
.our-story-content ul,
.contact-info-two-content ul,
.filter-events,
.statistics-block ul,
.filter-featured-course,
.fqa-content ul,
.filter-gallery,
.membership-content .item .info ul,
.single-course-content .single-course-info .course-teacher-cat .teacher-cat ul,
.single-course-tab ul,
.single-events-content .events-info ul,
.single-events-content .event-detail .event-content ul,
.event-signup .info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-top-info a {
  text-decoration: none;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  list-style: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #bf0f0f;
}
a.button1:hover {
  color: #000000;
  background-color: #f6b901;
}

/*Navbar menu mobile*/

.hidden-tablet-landscape-up {
  display: none;
}

.header-mobile .header-top-mobile {
  padding: 15px 0;
}
.header-mobile .header-top-mobile:after {
  content: "";
  display: table;
  clear: both;
}
.header-mobile .header-top-mobile .logo {
  float: left;
}
.header-mobile .header-top-mobile .hamburger {
  float: right;
  outline: none;
}
.header-mobile .header-top-mobile .search-box {
  height: 100%;
  position: relative;
  display: inline-block;
  float: right;
}
.header-mobile .header-top-mobile .search-box form input {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  height: 60px;
  padding: 20px;
  background: #fff;
  z-index: 1000;
  border: 1px solid #666;
  font-size: 16px;
}
.header-mobile .header-top-mobile .search-box form .search-icon {
  width: 60px;
  height: 60px;
  background: #ffa037;
}
.header-mobile .header-top-mobile .search-box form .search-icon .fa {
  color: #333;
  font-size: 16px;
}
.header-mobile .header-top {
  float: left;
  width: 100%;
}
.header-mobile .header-top:after {
  content: "";
  display: table;
  clear: both;
}

.au-nav-mobile {
  z-index: 10000;
  width: 100%;
  float: left;
  display: none;
}
.au-nav-mobile ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: none;
  list-style-type: none;
  background: #ffa037;
}
.au-nav-mobile.open {
  display: block;
}
.au-nav-mobile ul li {
  position: relative;
  padding: 0;
}
.au-nav-mobile ul li a {
  font-size: 18px;
  font-family: "Roboto Slab";
  color: #fff;
  padding: 14px 30px;
  font-weight: 700;
  text-align: left;
  display: block;
}
.au-nav-mobile ul li a:after {
  height: 0px;
}
.au-nav-mobile ul li > .arrow {
  width: 50px;
  height: 50px;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.au-nav-mobile ul li > .arrow i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
}
.au-nav-mobile ul li > .arrow i:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 3px;
  background: #fff;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
}
.au-nav-mobile ul li > .arrow i:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0;
  width: 3px;
  height: 11px;
  background: #fff;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
}
.au-nav-mobile ul li .clicked {
  color: #333;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.au-nav-mobile ul li .clicked i:after,
.au-nav-mobile ul li .clicked i:before {
  background: #333;
}
.au-nav-mobile ul li .sub-menu {
  display: none;
  padding: 0;
  background: #e5f1fc;
  width: 100%;
  opacity: 1;
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
}
.au-nav-mobile ul li .sub-menu li {
  padding: 0px;
}
.au-nav-mobile ul li .sub-menu li a {
  font-size: 15px;
  padding: 15px 40px;
  border-bottom: 1px solid #e1e1e1;
  color: #333;
}

.container-fluid:after,
.container-fluid:before {
  display: table;
  content: " ";
  clear: both;
}

.search-widget-open form .search-icon .fa-search:before {
  content: "\f00d";
}

.header .fixed {
  -webkit-animation: fadeInDown 0.3s ease-out forwards;
  -moz-animation: fadeInDown 0.3s ease-out forwards;
  -o-animation: fadeInDown 0.3s ease-out forwards;
  animation: fadeInDown 0.3s ease-out forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.header .fixed .menu ul li {
  padding: 25px 17px;
}
.header .fixed .menu ul li .sub-menu li {
  padding: 5px 20px;
}
.header .fixed .search-box form .search-icon {
  height: 80px;
}

.header-2 .fixed {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.1);
}

.header-home2 {
  position: absolute;
  top: 0px;
  z-index: 10000;
  width: 100%;
}
.header-home2 .menu ul li a {
  color: #fff;
}
.header-home2 .menu ul li .sub-menu li a {
  color: #333;
}
.header-home2 .menu ul li .sub-menu li a:hover {
  color: #fff;
}
.header-home2 .search-box form .search-icon {
  color: #fff;
}

/* 22. Responsive ------------------------------------------*/

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .sign-up-content .sign-up-form {
    margin-left: 0px;
  }

  .testimonials-content .slick-dots {
    bottom: 16px;
  }

  .slide-form {
    padding: 10px 0;
  }

  .slide-form form .form-group:first-child,
  .slide-form form .form-group:nth-child(2),
  .slide-form form .form-group:nth-child(3),
  .slide-form form .form-group:nth-child(4) {
    width: 50%;
  }

  .slide-form form .form-group:first-child,
  .slide-form form .form-group:nth-child(2),
  .slide-form form .form-group:nth-child(3) {
    margin-bottom: 20px;
  }

  .review-content .rating-breakdown .progress-bar .progress-box .au-progress {
    max-width: 250px;
  }

  .membership-content .trend:before {
    left: 67px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1024px) {
  .hidden-tablet-landscape {
    display: none;
  }

  .hidden-tablet-landscape-up {
    display: block;
  }

  .header-home2 {
    position: relative;
  }

  .featured-content .item {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .featured-content .item .item-thumb a {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .featured-content .item .item-thumb {
    padding-right: 0px;
  }

  .featured-course-content .item .info .title {
    padding: 10px 20px 20px 20px;
  }

  .contact-info-two-content ul {
    padding: 0px;
  }

  .contact-info-two-content ul li {
    padding: 20px;
  }
}
@media screen and (max-width: 992px) {
  .featured-content .featured-item:nth-child(2) .item,
  .featured-content .item {
    padding: 40px 10px;
  }

  .sign-up-content .sign-up-form {
    margin-top: 40px;
  }

  .testimonials-content .item .info {
    width: 100%;
  }

  #modal-video-01 .modal-dialog {
    max-width: 70%;
  }

  .featured-home2-content .item {
    margin-bottom: 30px;
  }

  .footer-info,
  .footer-menu,
  .lastest-news {
    margin-bottom: 40px;
  }

  .footer-title h4 {
    margin-bottom: 30px;
  }

  .footer-top-content .footer-info .footer-logo {
    margin-bottom: 5px;
  }

  .filter-featured-course li span {
    width: 130px;
  }

  .featured-course-sidebar .featured-course-content {
    margin-bottom: 0px;
  }

  .featured-course-sidebar .featured-course-content {
    padding-right: 15px;
  }

  .single-course-content {
    padding-right: 15px;
  }

  .single-course-info figure img {
    width: 100%;
  }

  .review-content .rating-breakdown .progress-bar .progress-box .au-progress {
    max-width: 270px;
  }

  .aboutus-featured-content
    .aboutus-featured-info
    .featured-info-content
    .title,
  .aboutus-testimonials-content .item {
    padding: 0 100px;
  }

  .aboutus-featured-content .aboutus-featured-list .item {
    margin-bottom: 30px;
  }

  .aboutus-statistics .section-title .desc {
    padding: 25px 100px 22px;
  }

  .statistics-content .item {
    margin-bottom: 20px;
  }

  .membership-content .trend:before {
    left: 66px;
  }

  .single-events-content {
    padding-right: 0px;
  }

  .single-events-content
    .participants
    .participants-content
    .our-team-content
    .item {
    margin-bottom: 30px;
  }

  .blog-list .blog-content,
  .blog-page .blog-content,
  .single-content,
  .contact-us-content .contact-map {
    padding-right: 0px;
  }

  .single-content .comments,
  .contact-us-three-info {
    margin-bottom: 30px;
  }

  .contact-info-content .item {
    padding-top: 20px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .item {
    margin-bottom: 30px;
  }

  #modal-video-01 .modal-dialog {
    max-width: 90%;
  }

  .our-gallery-content .item {
    width: 50%;
  }

  .filter-featured-course {
    display: block;
  }

  .filter-featured-course li span {
    width: 100%;
  }

  .filter-featured-course li {
    margin-right: 0px;
  }

  .cta-content {
    display: block;
  }

  .cta-content .cta-title {
    margin-bottom: 30px;
  }

  .events-fqa-content {
    display: block;
  }

  .events-home3,
  .fqa {
    width: 100%;
  }

  .events-home3 {
    padding-right: 0px;
  }

  .slide-form {
    display: none;
  }

  .heading-page img {
    height: 200px;
  }

  .review-content {
    display: block;
  }

  .review-content .average-rating,
  .review-content .rating-breakdown {
    width: 100%;
  }

  .review-content .rating-breakdown .progress-bar .progress-box .au-progress {
    max-width: 80%;
  }

  .single-course-tab .nav-tabs .nav-link {
    padding: 23px 20px;
  }

  .single-course-tab .course-featured ul li {
    padding: 16px 20px 16px;
  }

  .aboutus-featured-content
    .aboutus-featured-info
    .featured-info-content
    .title,
  .aboutus-testimonials-content .item {
    padding: 0 30px;
  }

  .aboutus-featured-content .aboutus-featured-info .featured-info-content {
    padding: 50px 0px;
  }

  .aboutus-statistics .section-title .desc {
    padding: 25px 0px 22px;
  }

  .contact-info-two-content ul {
    display: block;
  }

  .contact-info-two-content ul li {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contact-info-two-content ul li:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 575px) {
  .statistics ul li {
    width: 50%;
    margin-bottom: 30px;
  }

  .header-top-content {
    display: block;
    text-align: center;
  }

  .header-top-content .header-top-info {
    margin-bottom: 10px;
  }

  .single-course-content .single-course-info .course-teacher-cat,
  .single-course-tab .nav-tabs,
  .single-course-tab ul {
    display: block;
    text-align: center;
  }

  .single-course-content .single-course-info .course-teacher-cat .teacher-cat {
    margin-bottom: 30px;
  }

  .single-course-content
    .single-course-info
    .course-teacher-cat
    .teacher-cat
    ul {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .single-course-tab .nav-tabs .nav-link:after {
    width: 0px;
  }

  .single-course-tab .course-featured ul li {
    margin-bottom: 0px;
    width: 50%;
    float: left;
  }
  .single-course-tab .course-featured ul li:after {
    width: 0px;
  }

  .single-course-tab .course-overview {
    clear: both;
  }

  .single-course-tab .course-mission,
  .single-course-tab .course-outcome {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }

  .single-course-tab .course-mission {
    padding-right: 0px;
  }

  .single-course-tab .course-outcome {
    padding-left: 0px;
  }

  .instructor-content,
  .single-events-content .events-info ul,
  .single-content .comments .media .media-body .info {
    display: block;
  }

  .single-events-content .events-info ul li {
    margin-bottom: 20px;
  }

  .instructor-content .instructor-thumb {
    width: 100%;
    margin-bottom: 30px;
  }

  .instructor-content .instructor-info {
    text-align: center;
  }

  .single-course-tab ul {
    margin: 0 auto;
  }

  .our-story-content ul li {
    width: 100%;
    float: none;
  }

  .grid-sizer,
  .grid-item {
    width: 50%;
  }

  .single-content .comments .media .media-body .info .title-desc {
    width: auto;
    margin-bottom: 20px;
  }

  .testimonials-content .item figure img {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .video-tour-content .video .video-title {
    font-size: 35px;
  }

  .our-gallery-content .item {
    width: 100%;
  }

  .events-content-2 .item {
    display: block;
  }

  .events-content-2 .item .item-thumb {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .events-content-2 .item figure {
    width: auto;
  }

  .sign-up-content .register-now .register-title {
    font-size: 45px;
  }

  .statistics-block ul li {
    float: none;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 30px;
  }

  .curriculum-content .card .card-body ul li .lesson-time,
  .curriculum-content .card .card-body ul li .finished {
    position: relative;
  }

  .aboutus-testimonials-content .item .desc {
    font-size: 20px;
  }

  .aboutus-featured-content
    .aboutus-featured-info
    .featured-info-content
    .title {
    padding: 0px;
  }

  .filter-events,
  .filter-gallery {
    display: block;
    margin-bottom: 20px;
  }

  .filter-events li,
  .filter-gallery li {
    margin-bottom: 20px;
  }

  .tags-socials {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .header-top-content .header-top-info a {
    margin-right: 0px;
    display: block;
    margin-bottom: 10px;
  }

  .about-image img {
    height: 150px;
  }

  .entry span {
    display: block;
  }

  .contact-info-two-content ul li {
    width: 290px;
    height: 250px;
  }

  .header-mobile .header-top-mobile .logo {
    width: 50%;
  }

  .header-mobile .header-top-mobile .search-box form .search-icon {
    width: 50px;
    height: 50px;
  }

  .search-box {
    padding-left: 10px;
  }
}
*/
/* humburger css  */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger-inner:after {
  bottom: -10px;
}
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}
.hamburger--3dx .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dx .hamburger-inner:after,
.hamburger--3dx .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dx.is-active .hamburger-inner {
  transform: rotateY(180deg);
  background-color: transparent;
}
.hamburger--3dx.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dx-r .hamburger-inner:after,
.hamburger--3dx-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dx-r.is-active .hamburger-inner {
  transform: rotateY(-180deg);
  background-color: transparent;
}
.hamburger--3dx-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}
.hamburger--3dy .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dy .hamburger-inner:after,
.hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dy.is-active .hamburger-inner {
  transform: rotateX(-180deg);
  background-color: transparent;
}
.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dy-r .hamburger-inner:after,
.hamburger--3dy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.hamburger--3dy-r.is-active .hamburger-inner {
  transform: rotateX(180deg);
  background-color: transparent;
}
.hamburger--3dy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--arrow.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}
.hamburger--arrow.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}
.hamburger--arrow-r.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}
.hamburger--arrow-r.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}
.hamburger--arrowalt .hamburger-inner:before {
  transition: top 0.1s ease 0.15s,
    transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom 0.1s ease 0.15s,
    transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease,
    transform 0.15s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(0.7);
}
.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.15s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(0.7);
}
.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top 0.1s ease 0.15s,
    transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom 0.1s ease 0.15s,
    transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease,
    transform 0.15s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7);
}
.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.15s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7);
}
.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner:after,
.hamburger--boring .hamburger-inner:before {
  transition-property: none;
}
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}
.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.15s;
}
.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s linear 0.27s;
  opacity: 0;
}
.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s,
    transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.42s;
  transform: rotate(-90deg);
}
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.15s;
}
.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg);
}
.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s linear 0.27s;
  opacity: 0;
}
.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s,
    transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.42s;
  transform: rotate(90deg);
}
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.4s;
}
.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.15s ease 0.4s;
}
.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: 0.1s;
  transform: translate3d(0, 10px, 0) rotate(135deg);
}
.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: 0.1s;
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.4s;
}
.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.15s ease 0.4s;
}
.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: 0.1s;
  transform: translate3d(0, 10px, 0) rotate(-135deg);
}
.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: 0.1s;
  transform: translate3d(0, -20px, 0) rotate(270deg);
}
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.2s ease-in 0.25s;
}
.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
}
.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left 0.2s ease-out, top 0.05s linear 0.2s,
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
}
.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right 0.2s ease-out, top 0.05s linear 0.2s,
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}
.hamburger--emphatic-r {
  overflow: hidden;
}
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.2s ease-in 0.25s;
}
.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.2s, left 0.2s ease-in 0.25s;
}
.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s linear 0.2s, right 0.2s ease-in 0.25s;
}
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left 0.2s ease-out, top 0.05s linear 0.2s,
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
}
.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right 0.2s ease-out, top 0.05s linear 0.2s,
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: transform, opacity;
}
.hamburger--slider .hamburger-inner:after {
  top: 20px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}
.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: transform, opacity;
}
.hamburger--slider-r .hamburger-inner:after {
  top: 20px;
}
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner:before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.15s;
}
.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent;
}
.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s,
    transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.32s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.32s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.15s;
}
.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    opacity 0s linear;
}
.hamburger--spring-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0s linear 0.32s;
  opacity: 0;
}
.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s,
    transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.32s;
  transform: rotate(90deg);
}
.hamburger--stand .hamburger-inner {
  transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.22s,
    background-color 0s linear 0.1s;
}
.hamburger--stand .hamburger-inner:before {
  transition: top 0.1s ease-in 0.1s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}
.hamburger--stand .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.1s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}
.hamburger--stand.is-active .hamburger-inner {
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    background-color 0s linear 0.22s;
  transform: rotate(90deg);
  background-color: transparent;
}
.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out 0.12s,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(-45deg);
}
.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out 0.12s,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(45deg);
}
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.22s,
    background-color 0s linear 0.1s;
}
.hamburger--stand-r .hamburger-inner:before {
  transition: top 0.1s ease-in 0.1s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}
.hamburger--stand-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.1s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}
.hamburger--stand-r.is-active .hamburger-inner {
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    background-color 0s linear 0.22s;
  transform: rotate(-90deg);
  background-color: transparent;
}
.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out 0.12s,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(-45deg);
}
.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out 0.12s,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(45deg);
}
.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.3s;
}
.hamburger--spin .hamburger-inner:before {
  transition: top 0.1s ease-in 0.34s, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.34s,
    transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}
.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.14s;
  opacity: 0;
}
.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out,
    transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transform: rotate(-90deg);
}
.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.3s;
}
.hamburger--spin-r .hamburger-inner:before {
  transition: top 0.1s ease-in 0.34s, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.34s,
    transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-225deg);
}
.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.14s;
  opacity: 0;
}
.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out,
    transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transform: rotate(90deg);
}
.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.1s;
}
.hamburger--squeeze .hamburger-inner:before {
  transition: top 0.1s ease 0.14s, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 0.1s ease 0.14s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}
.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, opacity 0.1s ease 0.14s;
  opacity: 0;
}
.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transform: rotate(-90deg);
}
.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.3s;
}
.hamburger--vortex .hamburger-inner:after,
.hamburger--vortex .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}
.hamburger--vortex .hamburger-inner:before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(765deg);
}
.hamburger--vortex.is-active .hamburger-inner:after,
.hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg);
}
.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.3s;
}
.hamburger--vortex-r .hamburger-inner:after,
.hamburger--vortex-r .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}
.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom, transform;
}
.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(-765deg);
}
.hamburger--vortex-r.is-active .hamburger-inner:after,
.hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}
